@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Website_clothe.Models.Danhmucsanpham>
<div class="container-fluid mt-4 px-4">

    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h3>
                Thêm mới chi tiết danh mục
            </h3>
            <button class="btn btn-info " onclick="location.href= ' @Url.Action("Index", "DetailCatagory") ' ">
                <div class="text-white">Quay lại</div>
            </button>
        </div>
        <div class="card-body">
            <form asp-controller="Category" asp-action="Add" method="post" enctype="multipart/form-data">
                <p style="color:red">
                    @ViewBag.error
                </p>
                <div class="mb-3">
                    <label class="form-label">Tên danh mục</label>
                    <select name="danhmucsp" class="form-select" required>
                        <option value="">Chọn danh mục sản phẩm</option>
                        @foreach(var item in Model)
                        {
                            <option value="@item.Madanhmuc">@item.Tendanhmuc</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Tên chi tiết danh mục</label>
                    <input type="text" class="form-control" name="name_detaildb" required/>
                </div>
                <div class="mb-3">
                        <label class="form-label">Hình ảnh</label>
                        <input type="file" class="form-control" name="image" onchange="previewImage(this);">
                </div>
                <div class="mb-3">
                    <img id="imagePreview" class="d-block img-thumbnail" width="200" height="200" alt="" style=" background-color: rgb(235, 235, 235);color: white">
                </div>
                
                <input type="submit" class="btn btn-success" value="Submit" />
            </form>
        </div>
    </div>
</div>
<script>
        function previewImage(input) {
            var imagePreview = document.getElementById("imagePreview");
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                imagePreview.src = "path-to-empty-image.jpg";
            }
        }
</script>
