################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Website_clothe/Website_clothe/Website_clothe.csproj
