@model string
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <title>_Layoutlogin</title>
</head>
<body class="bg-secondary-subtle">
    <div class="container-fluid">
        @Html.Raw(Model) 
    </div>
    <script type="text/javascript" src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
