<div class="container-fluid" style="margin-top:160px;margin-bottom:160px">
    <div class="row mx-3">
        <div class="col-12" id="load_data">
            <h3>Chúc mừng bạn đã đặt hàng công, giờ đây bạn có thể chờ đơn hàng được xác nhận và giao hàng đến cho bạn !!!</h3>
        </div>
    </div>
</div>
