@model Website_clothe.Models.Loai
@{
    ViewBag.Title = "Edit-type-product";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid mt-4 px-4">

    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h4>Chỉnh sửa tên loại sản phẩm</h4>
            <button class="btn btn-info " onclick="location.href='@Url.Action("Index", "Typeproduct")'">
                <div class="text-white">Quay lại</div>
            </button>
        </div>
        <div class="card-body">
            <form asp-controller="Typeproduct" asp-action="Edit" method="post" >
                <p style="color:red">
                    @ViewBag.error
                </p>
                <div class="mb-3">
                    <label class="form-label">Tên loại</label>
                    <input type="text" class="form-control" placeholder="Nhập tên thương hiệu" value="@Model.Tenloai" name="tentheloai" required />
                </div>
                <input type="hidden" value="@Model.ID_Loai" name="maloai" />
                <input type="submit" class="btn btn-success" value="Submit" />

            </form>
        </div>
    </div>
</div>

