

<div class="container-fluid py-4" style="background-color:#f8f8ff">
    <div class="row justify-content-between">
        <div class="col-3 mx-5">
            
                <h4>Cửa hàng Fashion</h4>
                <p class="mt-4" style="text-align: justify;">
                    Số ĐKKD: 0107574310, ngày cấp: 23/09/2016, Nơi cấp: Sở Kế hoạch và đầu tư Hà Nội

                    Địa chỉ trụ sở tại số 688 Đường Quang Trung, Phường La Khê, Quận Hà Đông, Thành phố Hà Nội.

                    Địa chỉ liên hệ: P301, tầng 3, tòa nhà GP Invest, số 170 La Thành, Phường Ô Chợ Dừa, Quận Đống Đa, Thành Phố Hà Nội.

                    Điện thoại: +8424 - 7303.0222

                    Fax: +8424 - 6277.6419

                    Email: hello@canifa.com
                </p>
            
            
        </div>
        <div class="col-3 mx-5">
            <h4>Hỗ trợ</h4>
            <div class="mt-4">
                <p>Hỏi đáp</p>
                <p>Chính sách KHTT</p>
                <p>Điều kiện - Điều khoản Chính sách KHTT</p>
                <p>Chính sách vận chuyển</p>
                <p>Kiểm tra đơn hàng</p>
                <p>Chính sách bảo mật thông tin KH</p>
            </div>
        </div>
        <div class="col-3 mx-5">
            <h4>Tải ứng dụng</h4>
            <div class="mt-4 d-flex flex-row justify-content-start">
                <img src="~/Content/img/appstore.png" style="width:100px;height:45px;" />
                <img src="~/Content/img/googleplay.png" style="width:100px;height:45px;"/>
            </div>
        </div>
    </div>
</div>
